/*
 * 03_collections/boxes
 * Styles for boxes
 */

%box {
  @include marpad(0px, 0px);
  background: $white;
  .inner {
    padding: 30px 32px 33px;
  }
}

//box types
.box {
  @extend %box;
}

.box--flipcard {
  display: block;
  position: relative;
  padding-bottom: 18.99996%;
  text-decoration: none;
  // perspective: 1000;
  &:hover {
    text-decoration: none;
  }
  &.-anim-start {
    .box__overlay {
      visibility: visible;
    }
  }
  &.-anim-end {
    .box__overlay {
      opacity: 1;
      top: 8px;
      left: 8px;
    }
  }
  &.-flipped {
    .flipper {
      // @include rotate(180deg);
    }
    .front {
      @include rotateY(180deg);
    }
    .back {
      @include rotateY(0deg);
    }
  }
  .flipper {
    @include transition(all .2s);
    transform-style: preserve-3d;
    // perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .front, .back {
    @include transition(all .2s);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .front {
    z-index: 50;
    @include rotateY(0deg);
  }
  .back {
    z-index: 25;
    @include rotateY(-180deg);
  }
}

.ie9, .lt-ie9 {
  .box--flipcard {
    .front, .back {
      transform: none;
      z-index: 50;
    }
    .back {
      display: none;
    }
    &.-flipped {
      .back {
        display: block;
      }
    }
  }
  .box__flipside {
    p {
      position: static;
      top: auto;
      transform: none;
    }
  }
}

.box__overlay {
  @include transition(top .2s, left .2s, opacity .2s);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: $brand_alt;
  z-index: 100;
  .inner {
    padding: 33px 0px;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin: 0px;
    // margin: 0 0 20px;
  }
  %btn {
    position: absolute;
    left: 50%;
    bottom: 38px;
    margin-left: -56px;
    width: 112px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
// japan, jamaica, kazakstan, new zeland, south africa, ukraine,
.box__flipside {
  background: $brand_alt;
  p {
    padding: 10px;// 30px 25px;
    margin: 0px;
    color: $white;
    font-size: 1.2em;
    line-height: 1.25em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 59.9375em) {
  .box--flipcard {
    @extend %group;
    padding: 0px;
    .flipper {
      position: relative;
      padding-bottom: 50%;
      width: 50%;
      margin: 0 auto;
    }
    .front, .back {
      // margin: 0 auto;
    }
  }
  .box__flipside {
    p {
      position: absolute;
      top: 50%;
      width: 90%;
      padding: 0px 5%;
      transform: translateY(-50%);
    }
  }
  .box__overlay {
    position: static;
    visibility: visible;
    opacity: 1;
    background: none;
    .inner {
      padding: 33px 0px 10px;
    }
    h3 {
      color: $text_colour;
    }
    .btn--main {
      display: none;
    }
  }
}

@media (max-width: 50em) { // 800px
  .box {
    margin: 0px 0px 20px;
    text-align: center;
    &.l {
      margin: 0px;
    }
  }
}

@media (max-width: 40.625em) { // 650
  .box--flipcard {
    .flipper {
      padding-bottom: 100%;
      width: 100%;
    }
  }
}
