/*
 * 03_collections/boxes
 * Styles for boxes
 */

%box {
  @include marpad(0px, 0px);
  background: $white;
  .inner {
    padding: 30px 32px 33px;
  }
}

//box types
.box {
  @extend %box;
}

@media (max-width: 50em) { // 800px
  .box {
    margin: 0px 0px 20px;
    text-align: center;
    &.l {
      margin: 0px;
    }
  }
}