/*
 * 04_sections/main
 * Styles for main section
 */
.section {
  padding: 64px 20px 0px;
  background: $off_white;
  .container {
    border-bottom: 2px solid $grey;
    padding-bottom: 72px;
  }
}
