/*
 * 02_items/btns
 * Styles for specialized anchors (buttons)
 */

%btn{
  @include inlineBlock(20);
  @include marpad(0, 10px 15px);
  @include borderRadius(0px);
  color: $white;
  border: 1px solid darken($default, 10);
  font-size: $text_size;
  text-align: center;
  cursor: pointer;
  &:hover, &.active {
    background: darken($default,10);
    color: $white;
    text-decoration:none;
  }
  &:focus {
    border: 1px solid darken($default, 10);
  }
  &:active {

  }
}

//button types
.btn--main {
  @extend %btn;
  // @include gradient($highlight, lighten($highlight, 2));
  background: $highlight;
  border-color: $highlight;
  &:hover, &.active {
    background: $highlight;
  }
  &:focus {
    border: 1px solid $highlight;
  }
}


//button sizes
.btn--large {
  padding: 15px 25px;
  font-size: 2em;
}
.btn--small {
  padding: 10px 15px;
  font-size: 1.4em;
}
.btn--xsmall {
  padding: 5px 10px;
  font-size: 1.2em;
}

//button groups
.btn-group {
  margin: 0 0 20px;
  %btn{
    @include borderRadius(0);
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-left: -1px;
    //border-left: none;
    &:first-child {
      @include borderRadius(5px 0px 0px 5px);
    }
    &:last-child {
      @include borderRadius(0px 5px 5px 0px);
    }
  }
}