/*
 * 02_items/btns
 * Styles for specialized anchors (buttons)
 */

%btn{
  @include inlineBlock(40);
  @include marpad(0, 8px 27px 11px);
  @include borderRadius(0px);
  color: $white;
  border: 1px solid darken($default, 10);
  font-size: 1.4em;
  letter-spacing: .05em;
  text-align: center;
  cursor: pointer;
  &:hover, &.active {
    background: darken($default,10);
    color: $white;
    text-decoration:none;
  }
  &:focus {
    border: 1px solid darken($default, 10);
  }
  &:active {

  }
  &.-x-small {

  }
  &.-small {

  }
  &.-large {

  }
  &.-x-large {

  }
}

//button types
.btn--main {
  @extend %btn;
  @include transition(all .5s);
  background: $highlight;
  border-color: $highlight;
  &:hover, &.active {
    background: darken($highlight, 20);
    border-color: darken($highlight, 20);
  }
  &:focus {
    border: 1px solid $highlight;
  }
}

//button groups
.btns--center {
  text-align: center;
  %btn {
  }
}

.btn-group {
  margin: 0 0 20px;
  %btn{
    @include borderRadius(0);
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-left: -1px;
    //border-left: none;
    &:first-child {
      @include borderRadius(5px 0px 0px 5px);
    }
    &:last-child {
      @include borderRadius(0px 5px 5px 0px);
    }
  }
}